*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.bdy{
    font-family: Arial, sans-serif;
    margin-left: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

body{
    background-color: #081b29;
}
.me{
    position: relative;
    width: 100%;
    height: 100vh;

}
nav{
    position: sticky;
    margin-left: 80;
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
    


}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    /* color: #bdbaba; */
    background: linear-gradient(45deg, orange,white);
    -webkit-background-clip: text;
    color: transparent;

}

nav ul li a:hover{
    color: pink;
}

.logo{
    position: relative;
    margin-left: -110px;
    margin-top: -30px;

}

.det{
    margin-left: 10;
    margin-top: 4%;

}

h1{
    font-size: 40px;
    color: #c0d8fc;
    margin-bottom: 20px;
    margin-left: -500px;
    background: linear-gradient(45deg,violet, rgb(168, 168, 255));
    -webkit-background-clip: text;
    color: transparent;

}

.det::before{
    content: '';
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    animation: 1s ease forwards;
    animation-delay: 1s;
}

h4{
    font-size: 25px;
    color: rgb(154, 215, 218);
    
}
span{
    color: o;
}

p{
    font-size: 27px;
    margin-top: 12px;
    color: #d1b7b7;
    line-height: 25px;
    margin-right: 700px;
    margin-left: 20px;
}

.imag{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    border: 3px solid #00abf0;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.det p{
    line-height: 33px;
    margin-left: 50px;
    width: 590px;
}


.emoj{
    position:absolute ;
    margin-top: -5px;
    margin-left: 7px;
    
}
h4{
    font-size: 19px;
    color: #00abf0;
    margin-top: -10px;
    margin-left: -570px;
}

.btn{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 345px;
    height: 50px;
    font-size: 16px;
    margin: 20px 0 40px 120px;

}

.btn a:hover{
    color: #00abf0;
}
.btn a{
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 50px;
    background-color: #00abf0;
    border: 1px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    justify-content: center;
    padding: 14px;
    letter-spacing: 1px;
    transition: .5s;
    z-index: 1;
}

.btn a:nth-child(2){
    background: transparent;
    color: #00abf0;
    border-radius: 8px;
}

.btn a:nth-child(2)::before{
    background: #00abf0;
    border-radius: 8px;
}

.btn a:nth-child(2):hover{
    color: #081b29;
}
.btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#081b29;
    transition: .5s;
    z-index: -1;

}

.btn a:hover::before{
    width: 100%; 

    /* background-color: #c0d8fc; */
}

.log{
    position: absolute;
    top: 470px; 
    left: 140px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    
}
.log a{
    position: relative;
    justify-content: center;
    align-items: center;
    top: 20px;
    display: inline-flex;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid #00abf0;
    font-size: 20px;
    padding: 25px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    margin-left: 20px;
    overflow: hidden;
} 

.log a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#00abf0;
    transition: .5s;
    z-index: -1;
}
.log a:hover::before{
    width: 100%;
}
.body1{
    background-color: #FFE5E5;

}
.abt{
    position: absolute;
    top: 280px;
    font-size: 25px;
    line-height: 27px;
    color: #081b29 ;
    width: 700px;
    margin-left: 570px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.hd{
    position: absolute;
    right: 400px;
    top: 37px;
    font-size: 32px;
    font-family:cursive;
    font-weight: 700;
    background: linear-gradient(45deg, red,blue);
    -webkit-background-clip: text;
    color: transparent;


}


.sk{
    width: 800px;
    margin-left: 200px;
    color: white;
    opacity: 0.85;
    font-size: 24px;
}

.my-skills{
    position: relative;
    margin-left: 500px;
    font-size: 50px;
    color: #9a9ef2;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body2{
    position: relative;
    margin-top: -28px;
    /* left: -70px; */
    overflow-x: hidden;
    overflow-y: hidden;
    
     width: 1500px;
     height: 700px;
     left: -70px;
    color: white;
    background-size: cover;
    position: relative;
    top: 30px;
    margin-left: 70px;
    font-weight: 700;
    /* z-index: -1; */

}
.body2::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity (the last value) as needed */
}

.class{
    background-image: url("Beige\ wall\ pattern\ photo\ memories\ photo\ collage\ \(1\).png");
}

.body3{
    background-color: violet;
}

.achieve{
    color: rgb(10, 0, 0);
    font-size: 22px;
    width: 680px;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 30px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p{
    width: 700px;
    margin-left: 700px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 2px;
    position: relative;
}

header h1::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.section {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0.9, 0.1, 0.9, 0.9);
    max-width: 800px;
}

.section h2 {
    color: #333;
    font-size: 24px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.info h3 {
    color: #777;
    font-size: 18px;
    margin-top: 0;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

section p{
    width: 700px;
    font-size: 20px;
    color: black;
}
.section li {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.section li:before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer p{
    margin-left: 250px;
    width: 700px;
}
.section p:last-child {
    margin-bottom: 0;
}

.section {
    transition: transform 0.2s;
}

.section:hover {
    transform: scale(1.02);
}

.abt-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 50px;
}

.abt{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -180px;
    margin-left: 470px;
}

.skils{
    position: absolute;
    border: 2px solid black;
    right: 50px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
}


.abt-2{
    font-size: 25px;
    color: #081b29 ;
    width: 700px;
    margin-left: 70px;
    line-height: 27px;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}